.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar button {
    padding: 5px 10px;
    border: none;
    background-color: #5edefe;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
}

.navbar button:hover {
    background-color: #2def4a;
}